.dish-card {
    display: flex;
    flex-flow: wrap column;
    gap: 24px;
    padding: 24px;
    border: 1px solid #444;
}

.dish-card__thumbnail {
    width: 100%;
}

.dish-card__title {
    font-weight: bolder;
}

.dish-card__list {
    list-style: none;
}

.dish-card__action {
    list-style: none;
}