.dish-card {
    display: flex;
    flex-flow: wrap column;
    gap: 24px;
    justify-content: space-between;
    padding: 24px;
    border: 1px solid var(--black);
    border-radius: 12px;
}

.dish-card__thumbnail {
    width: 100%;
    clip-path: circle(75.3% at 32% 31%);
    max-width: 700px;
}

.dish-card__title {
    font-weight: bolder;
    color: var(--light-black);
}

.dish-card__body {
    color: var(--light-black);
    display: flex;
    justify-content: space-between;
}

.dish-card__body h5 {
    font-size: 1.2em;
    font-weight: 500;
}

.dish-card__instructions {
    display: none;
}


.dish-list {
    display: flex;
    flex-flow: wrap row;
    gap: 24px;
}

.dish-list .dish-card {
    max-width: 270px;
}

.dish-card__title a {
    color: var(--black);
    font-size: 1.2em;
    font-weight: 700;
}

.dish-page .dish-card {
    border: none;
}

.dish-page .dish-card .dish-card__instructions{
    display: flex;
    width: 350px;
    flex-direction: column;
    gap: 10px;
}