.site-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background: var(--green);
    border-radius: 25px;
    margin: 24px auto 12px;
}
.site-navigation a {
    display: block;
    color: var(--light);
    padding: 0 24px;
}

.site-navigation__logo {
    float: left;
}

.site-navigation ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.header {
    background: url('/header-wallpaper-1.jpg') bottom / cover fixed no-repeat;
    filter: contrast(50%);
}

.header__title {
    padding: 12.5vh;
    color: #f9fafd;
}

.section {
    margin: 48px auto;
}