.order-form {
    width: 650px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.order-form-row {
    display: flex;
    justify-content: space-between;
}

.order-form-row div > *:not(p) {
    margin: 12px auto;
}

.order-form-row div > input {
    margin-left: 12px;
}

.order-form button {
    width: fit-content;
    padding: 12px 24px;
    margin: 24px auto;
}

.order-form [role=alert] {
    color: brown;
}