#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.15rem;
}


/* TODO: find somewhere to place those */

/* GENERAL */
ul {
  list-style: none;
}

.tag {
  display: inline-flex;
  padding: 5px 10px;
  background: var(--black);
  color: var(--light);
  border: 1px solid black;
  border-radius: 6px;
  margin: 0 6px;
}

.tag:first-of-type {
  margin-left: 0;
}

/* DISHES */
.dish-list {
  display: flex;
  flex-flow: wrap column;
  height: 780vh;
  gap: 12px;
}

.dish-list .dish-card {
  max-width: 370px;
  transition: transform 0.2s linear;
}

.dish-list .dish-card:hover {
  transform: scale(.98);
}